body {
    background-color: rgb(100, 109, 124);
}

main {
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    background-color: rgb(240, 240, 240);
    margin: 0 auto;
}

#display_root {
    padding: 1% 1% 1% 0;
    text-align: right;
    margin: 2% 2% 2% 0%;
}

#display_term {
    font-size: 1.1em;
    font-weight: lighter;
    height: 1.5em;
    margin-bottom: 0.5em;
}

#display_number {
    font-size: 4.5em;
    font-weight: bold;
}

#calculator_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    column-gap: 2px;
    row-gap: 2px;
}

.btn_calc {
    padding: 10%;
    border-style: none;
    background-color: rgb(250, 250, 250);
    font-size: 1em;
}

.btn_number {
    background-color: rgb(255, 255, 255);
}

.btn_calc:hover {
    background-color: rgb(230, 230, 230);
}

.btn_calc:active {
    background-color: rgb(210, 210, 210);
}

.btn_special {
    background-color: rgb(139, 238, 226);
}