.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 12rem;
    text-align: center;
}

.search-bar {
    padding: 15px 20px 15px 20px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 1px 1px 3px #ebebeb;
    border-style: none;
    border-radius: 20px;
    font-size: 20px;
    outline: none;
}

.search-bar:hover{
    box-shadow: 0px 1px 3px 5px #ebebeb;
}

.btn {
    margin: 0px 5px 0px 5px;
    font-size: 16px;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    background: rgb(238, 238, 238);
    border-style: hidden;
    color: rgba(0, 0, 0, 0.5);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 100;
}

.nav-list {
    display: flex;
    list-style: none;
}

#left-bar {
    margin-left: 1em;
    padding: 0 0 0 0;
}

#right-bar {
    padding: 0 0 0 0;
    margin-right: 1em;
}

.nav-bar li {
    margin: 0 10px 0 10px;
}

.nav-bar button {
    border-radius: 5px;
    border-style: none;
    background-color: rgb(56, 105, 241);
    color: white;
    padding: 10px 30px 10px 30px;
    margin: -7px 0 0 10px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar a:hover {
    text-decoration: underline;
}
