body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(49, 49, 49);
}

#sketch-area {
    display: inline-grid;
    padding-top: 15px;
    width: 800px;
    height: 800px;
}

.grid-square {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 100%;
}

.bg-color {
    background-color: rgb(255, 0, 0);
}

#clear_btn {
    margin: 30px;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(143, 143, 143);
    color: rgb(243, 243, 243);
    border: none;
}