body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(248, 248, 248);
}

.title {
    font-size: 4em;
    margin: 30px 0;
}

.project-list {
    list-style: none;
}

.project-item {
    margin: 30px 0;
}

.project-link {
    color: black;
    font-size: 2em;
}