html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: 0;
    padding: 0;
}

.input-bar {
    display: flex;
    flex-direction: column;
    background-color: lightblue;
    height: 100%;
}

.input-list {
    list-style: none;
}

.input-list li {
    margin: 20px 20px 20px 0px;
}

.input-list input {
    margin-top: 5px;
}

.library {
    margin: 0 auto;
}

.table-root table {
    width: 900px;
    text-align: center;
    border: solid 1px;
}

tr:first-of-type{
    font-size: 20px !important;
}

tr {
    font-size: 18px;
    height: 50px;
}

tr:nth-child(even) {
    background-color: rgb(238, 238, 238);
}

a img {
    display: flex;
    width: 30px;
    cursor: pointer;
    margin: 0 auto;
}