#main {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.title {
    margin: 0 0 3em 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Geneva, Tahoma, sans-serif;
}

.versus-row {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 5em;
    margin-bottom: 2em;
}

.player {
    margin: 0 8em;
    border-radius: 10%;
}

.choice img {
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: solid;
    border-radius: 10%;
}

.player-name {
    margin: 1em 0;
    font-size: 22px;
}

.vs-text {
    font-size: 26px;
    font-weight: bold;
}

.score-area {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.score-entry {
    margin: 0 3em;
}

.score-name {
    font-size: 22px;
}

.score-num {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bold;
}

.selection {
    display: flex;
    justify-content: center;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5em 3em;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.btn img {
    object-fit: cover;
    width: 100px;
    border-radius: 50%;
}

.btn span {
    font-size: 18px;
    padding: 10px;
}

.round-result {
    font-size: 32px;
    font-weight: bold;
}

.win {
    background-color: rgb(48, 223, 77);
}

.lose {
    background-color: rgb(209, 57, 57);
}

.tie {
    background-color: rgb(202, 202, 202);
}