body {
    background-color: rgb(218, 218, 218);
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.main-content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    text-align: center;
}

.controls button {
    font-size: 24pt;
    border-radius: 5%;
    padding: 15px 30px;
    margin-top: 5vh;
}

.play-area {
    display: inline-grid;
    grid-template-columns: auto auto auto;
    width: 500px;
    grid-gap: 10px;
    justify-content: center;
    margin: 10vh auto;
}

.play-field {
    background-color: white;
    width: 150px;
    height: 150px;
    font-size: 100px;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    line-height: 135px;
}

.game-result {
    font-size: 64pt;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

.c-player {
    color: rgb(0, 132, 255);
}

.c-com {
    color: red;
}
